name: build-irods-enterprise-linux-9
on: [push, pull_request]
jobs:
  build:
    name: ${{ matrix.container }}
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        container: ['almalinux:9','rockylinux:9']
    steps:
      - name: Get git
        run:  |
              dnf -y update ca-certificates
              dnf -y install git
              git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Shorten the SHA
        run:  echo "SHORT_SHA=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV
      - name: Install Prerequisites
        run:  |
              dnf -y install bind-utils wget git epel-release
              dnf -y install dnf-plugin-config-manager dnf-plugins-core
              dnf config-manager --set-enabled crb
              dnf -y install jq gcc gcc-c++ make rpm-build bzip2-devel curl-devel fakeroot openssl-devel pam-devel python3-devel unixODBC unixODBC-devel zlib-devel python3-distro krb5-devel
      - name: Install iRODS Externals
        run:  |
              update-crypto-policies --set LEGACY # TODO: irods/irods#7349 - remove this
              rpm --import https://unstable.irods.org/irods-unstable-signing-key.asc
              dnf config-manager -y --add-repo https://unstable.irods.org/renci-irods-unstable.yum.repo
              dnf config-manager -y --set-enabled renci-irods-unstable
              dnf -y update
              dnf -y install \
                irods-externals-avro1.11.0-2 \
                irods-externals-boost1.81.0-0 \
                irods-externals-catch22.13.8-0 \
                irods-externals-clang-runtime13.0.0-0 \
                irods-externals-clang13.0.0-0 \
                irods-externals-cmake3.21.4-0 \
                irods-externals-cppzmq4.8.1-1 \
                irods-externals-fmt8.1.1-0 \
                irods-externals-json3.10.4-0 \
                irods-externals-libarchive3.5.2-0 \
                irods-externals-nanodbc2.13.0-1 \
                irods-externals-spdlog1.9.2-1 \
                irods-externals-zeromq4-14.1.8-0
      - name: Configure CMake
        run:  |
              export PATH=/opt/irods-externals/cmake3.21.4-0/bin:$PATH
              mkdir build
              cd build
              cmake -DIRODS_DISABLE_COMPILER_OPTIMIZATIONS=ON ../
              cat version.json.dist
      - name: Build and Package
        run:  |
              cd build
              make package  # without -j to avoid GitHub Action OOM Killer (error 137)
      - name: Copy built packages
        run:  |
              mkdir ${{ matrix.container }}
              cp build/*.rpm ${{ matrix.container }}
      - name: SCP built packages
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.KEY }}
          source: "${{ matrix.container }}/*.rpm"
          target: /projects/irods/k8s-testing/github-build-artifacts/${{ env.SHORT_SHA }}
      - name: CHMOD new packages directory
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.KEY }}
          script: chmod -R 775 /projects/irods/k8s-testing/github-build-artifacts/${{ env.SHORT_SHA }}
